.container{

    width: 200px;
    height: 200px;
    background-color: blue;
}

.container:hover{     

    background-color: aqua;
    border: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border: 2px solid black;
}

.container:active{

    background-color: rgb(74, 196, 27);
}

.container::after{
    content: "hello  ";
    color: red;
}

container::first-letter{

    font-size: xx-large;
}
.container::selection{
    color: red;
}

.flex{

    width: 500px;
    height: 300px;
    background-color: black;
    display: flex;
}

.child1{

    background-color: blue;
   flex: 1;
}
.child2{

    background-color: rgb(136, 3, 14);
    flex: 1;
}

.child3{

    background-color: rgb(155, 14, 96);
    flex: 1;
}

.child:hover{

    transform: scale(1.5);
    flex: 3;
    transition: 2s linear;
}

.transition{
    background-color: black;
    width: 100px;
    height: 100px;
    transition: background-color 3s linear;
}
.transition:hover{

    background-color: brown;

}
/* .transition:active{

    transform: translate(500px);
} */

.transition:active{

    rotate: 45deg;
    translate: 500px;
}
a {
  color: rgb(156, 255, 43); 
  text-decoration: none;
}

a:visited {
  color: black; 
}



body{

    
}