.cart{

    width: 300px;
    border: solid 1px  black;
    padding: 10px;
    
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px
;

}